@page
@model BwMelder.Pages.TeamCoaches.CreateModel

@{
    ViewData["Title"] = "Betreuer anlegen";
}

<h1>Betreuer anlegen</h1>
<hr />

<div class="row">
    <div class="col-md-4">
        <partial name="_TeamCoachForm" model="Model.TeamCoach" />
    </div>
</div>

@if (User.Identity?.IsAuthenticated ?? false)
{
    <div>
        <a asp-page="Index">Zurück zur Übersicht</a>
    </div>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
