@page
@model BwMelder.Pages.TeamCoaches.CreateModel

@{
    ViewData["Title"] = "Betreuer anlegen";
}

<h1>Betreuer anlegen</h1>
<hr />

@if (User.Identity?.IsAuthenticated ?? false)
{
    <p>
        Betreuer können Ihre Daten über einen speziellen Zugang auch selbst eintragen.
    </p>
    <div>
        <form method="post" asp-page-handler="CreateKey">
            <input type="submit" value="Zugang erstellen" class="btn btn-primary" />
        </form>
    </div>
    <hr />
}

<div class="row">
    <div class="col-md-4">
        <partial name="_TeamCoachForm" model="Model.TeamCoach" />
    </div>
</div>

@if (User.Identity?.IsAuthenticated ?? false)
{
    <div>
        <a asp-page="Index">Zurück zur Übersicht</a>
    </div>
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
