@page "{id:guid}"
@model BwMelder.Pages.TeamCoaches.EditModel

@{
    ViewData["Title"] = "Betreuer bearbeiten";
}

<h1>Betreuer bearbeiten</h1>
<hr />

<div class="row">
    <div class="col-md-4">
        <partial name="_TeamCoachForm" model="Model.TeamCoach" />
    </div>
</div>

<div>
    @if (User.Identity?.IsAuthenticated ?? false)
    {
        <a asp-page="./Index">Zurück zur Übersicht</a>
    }
    else
    {
        <a asp-page="./Details" asp-route-id="@Model.TeamCoach.Id">Zurück</a>
    }
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
