@page "{id:guid}"
@model BwMelder.Pages.Crews.Athletes.DetailsModel

@{
    ViewData["Title"] = "Sportlerdetails";
}

<h1>Sportlerdetails</h1>
<partial name="_CrewInfo" model="Model.Crew" />
<hr />

<partial name="_AthleteDetails" model="Model.Athlete" />

<div>
    <a asp-page="./Edit" asp-route-id="@Model.Athlete.Id">Bearbeiten</a> |
    <a asp-page="../Details" asp-route-id="@Model.Athlete.CrewId">Zurück zur Mannschaft</a>
</div>
