@page
@model IndexModel
@{
    ViewData["Title"] = "Start";
}

<div>
    <h1 class="display-4">BW-Melder NRW</h1>
    <p class="lead">
        Wir erfassen eure Meldungen zum BW digital.
    </p>
    <hr />
    @if (User.Identity?.IsAuthenticated ?? false)
    {
        <p>
            Willkommen im Ruderjugend-Bereich. Hier findet ihr diese Funktionen:
        </p>
        <ul style="list-style-type: square;">
            <li style="margin-bottom: .5rem;">
                <a class="font-weight-bold" asp-page="/TeamCoaches/Index">Betreuer</a> - Verwaltet die Team-Betreuer, die mit zum BW fahren.
                Ihr könnt die Betreuer selbst eintragen oder Zugänge erstellen, über die sich die Betreuer selbst registrieren können.
            </li>
            <li style="margin-bottom: .5rem;">
                <a class="font-weight-bold" asp-page="/Crews/Index">Mannschaften</a> - Verwaltet die Mannschaften für die Boote beim BW.
                Für jede nominierte Mannschaft erhaltet ihr einen Zugang, über den die jeweiligen Trainer die Daten der Athleten selbst eintragen können.
            </li>
            <li style="margin-bottom: .5rem;">
                <a class="font-weight-bold" asp-page="/Reports/Index">Reports</a> - Schaut euch verschiedene Auswertungen und Zusammenfassungen der Daten im System an,
                zum Beispiel eine Bestellübersicht fürs Essen oder die E-Mail-Verteiler. Außerdem könnt ihr alle Daten herunterladen.
            </li>
        </ul>
    }
    else
    {
        <p>
            Ihr wollt eure Sportler anmelden? Oder ihr kommt als Betreuer mit?
            Dann bekommt ihr von uns einen speziellen Link, der euch direkt zur Anmeldung führt.
            Bis dahin wünschen wir euch viel Erfolg!
        </p>
        <p>
            <a asp-page="/Admin/Login">Anmelden als Ruderjugend</a>
        </p>
    }
</div>
