@model BwMelder.Model.TeamCoach

<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <h4>Stammdaten</h4>
    <div class="form-group">
        <label asp-for="FirstName" class="control-label"></label>
        <input asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="LastName" class="control-label"></label>
        <input asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ClubName" class="control-label"></label>
        <input asp-for="ClubName" class="form-control" />
        <span asp-validation-for="ClubName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DateOfBirth" class="control-label"></label>
        <input asp-for="DateOfBirth" class="form-control" />
        <span asp-validation-for="DateOfBirth" class="text-danger"></span>
    </div>

    <h4>Kontaktinformationen</h4>
    <div class="form-group">
        <label asp-for="Address.Street" class="control-label"></label>
        <input asp-for="Address.Street" class="form-control" />
        <span asp-validation-for="Address.Street" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Address.Zip" class="control-label"></label>
        <input asp-for="Address.Zip" class="form-control" />
        <span asp-validation-for="Address.Zip" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Address.City" class="control-label"></label>
        <input asp-for="Address.City" class="form-control" />
        <span asp-validation-for="Address.City" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Contact.EmailAddress" class="control-label"></label>
        <input asp-for="Contact.EmailAddress" class="form-control" />
        <span asp-validation-for="Contact.EmailAddress" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Contact.Phone" class="control-label"></label>
        <input asp-for="Contact.Phone" class="form-control" />
        <span asp-validation-for="Contact.Phone" class="text-danger"></span>
    </div>

    <h4>Teilnahmeinformationen</h4>
    <div class="form-group">
        <label asp-for="ShirtSize" class="control-label"></label>
        <select asp-for="ShirtSize" asp-items="Html.GetEnumSelectList<ShirtSize>()" class="form-control"></select>
        <span asp-validation-for="ShirtSize" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="HasPublicTransportTicket" class="control-label"></label>
        <select asp-for="HasPublicTransportTicket" class="form-control">
            <option value="@false">Nein, nicht vorhanden</option>
            <option value="@true">Ja, vorhanden</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="Diet.Choice" class="control-label"></label>
        <select asp-for="Diet.Choice"
                asp-items="Html.GetEnumSelectList<DietaryChoice>()"
                class="form-control">
        </select>
        <span asp-validation-for="Diet.Choice" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Diet.Restrictions" class="control-label"></label>
        <input asp-for="Diet.Restrictions" class="form-control" />
        <span asp-validation-for="Diet.Restrictions" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DriversLicense" class="control-label"></label>
        <select asp-for="DriversLicense"
                asp-items="Html.GetEnumSelectList<DriversLicense>()"
                class="form-control">
        </select>
        <span asp-validation-for="DriversLicense" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Comments" class="control-label"></label>
        <textarea asp-for="Comments" class="form-control"></textarea>
        <span asp-validation-for="Comments" class="text-danger"></span>
    </div>

    <input type="hidden" asp-for="TeamCoachKeyId" />

    <div class="form-group">
        <input type="submit" value="Speichern" class="btn btn-primary" />
    </div>
</form>
