@page
@model BwMelder.Pages.Crews.HomeCoaches.CreateModel

@{
    ViewData["Title"] = "Heimtrainer anlegen";
}

<h1>Heimtrainer anlegen</h1>
<partial name="_CrewInfo" model="Model.Crew" />
<hr />

<p class="alert alert-info d-none" id="prepopulated-alert">
    <strong>Stimmt das so?</strong> Wir haben deine vorherigen Eingaben übernommen.
    Bitte schau noch einmal drüber und speichere ab, wenn alles passt.
</p>

<div class="row">
    <div class="col-md-4">
        @* OnSumbit-Handler to store form data on the client for reuse in other crews. *@
        <form method="post" id="homecoach-form" onsubmit="saveHomeCoach();">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="HomeCoach.FirstName" class="control-label"></label>
                <input asp-for="HomeCoach.FirstName" class="form-control" />
                <span asp-validation-for="HomeCoach.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HomeCoach.LastName" class="control-label"></label>
                <input asp-for="HomeCoach.LastName" class="form-control" />
                <span asp-validation-for="HomeCoach.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HomeCoach.Contact.EmailAddress" class="control-label"></label>
                <input asp-for="HomeCoach.Contact.EmailAddress" class="form-control" />
                <span asp-validation-for="HomeCoach.Contact.EmailAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HomeCoach.Contact.Phone" class="control-label"></label>
                <input asp-for="HomeCoach.Contact.Phone" class="form-control" />
                <span asp-validation-for="HomeCoach.Contact.Phone" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="HomeCoach.CrewId" />
            <div class="form-group">
                <input type="submit" value="Speichern" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="../Details" asp-route-id="@Model.HomeCoach.CrewId">Zurück zur Mannschaft</a>
</div>

@* Load the script to save and load home coach data *@
<script src="~/js/homecoach.js"></script>
@* Try to prepopulate the form and show an alert if it was successful. *@
<script>
    if (loadHomeCoach()) {
        let alert = document.getElementById("prepopulated-alert");
        alert.classList.remove("d-none");
    }  
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
