@page
@model BwMelder.Pages.Reports.IndexModel

@{
    ViewData["Title"] = "Reports";
}

<h1>@ViewData["Title"]</h1>
<p>
    Hier findet ihr verschiedene Auswertungen und Zusammenfassungen aller Daten im System. 
</p>

<h4>Kontakte</h4>

<ul>
    <li>
        <a asp-page="./Mailing">Mail-Verteiler</a> - E-Mail-Adressen der Betreuer und Heimtrainer
    </li>
</ul>

<h4>Meldung</h4>

<ul>
    <li>
        <a asp-page="./Entries">Meldeübersicht</a> - Aufstellung der Boote je Rennen mit Namen der Mannschaft
    </li>
    <li>
        <a asp-page="./FoodOrder">Essensbestellung</a>
    </li>
    <li>
        <a asp-page="./ShirtOrder">T-Shirt-Bestellung</a>
    </li>
</ul>

<h4>Alle Daten</h4>
<p>
    Hier könnt ihr die gesammelten Teilnehmerdaten herunterladen.
    Das Abrufen der gesamten Daten kann das System stark belasten.
    Bitte ruft diese Reports daher möglichst erst ab, nachdem die Anmeldung abgeschlossen ist.
</p>
<ul>
    <li>
        <a asp-page="./Athletes">Sportler</a>
    </li>
    <li>
        <a asp-page="./TeamCoaches">Betreuer</a>
    </li>
</ul>
