@page
@model BwMelder.Pages.Reports.ShirtOrderModel

@{
    ViewData["Title"] = "T-Shirt-Bestellung";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>Größe</th>
            <th>Sportler</th>
            <th>Betreuer</th>
            <th>Summe</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var size in Enum.GetValues<ShirtSize>())
        {
            var athleteCount = Model.AthleteShirtOrder.FirstOrDefault(o => o.Size == size).Count;
            var teamCoachCount = Model.TeamCoachShirtOrder.FirstOrDefault(o => o.Size == size).Count;
            
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => size)
                </td>
                <td>
                    @athleteCount
                </td>
                <td>
                    @teamCoachCount
                </td>
                <td>
                    @(athleteCount + teamCoachCount)
                </td>
            </tr>
        }
    </tbody>
</table>